body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

iframe {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  color: #1db954;
}

header p {
  font-size: 16px;
  color: #666;
}

.mood-and-music-buttons {
  margin: 20px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-selector {
  margin-bottom: 15px;
  font-size: 16px;
  padding: 5px 10px;
}

.get-music-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.get-music-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.get-music-button:active {
  transform: scale(0.95);
}

.embedded-spotify {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.result-display {
  margin: 20px auto;
  text-align: center;
  padding: 0;
  color: #333;
}

.result-display h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}

.result-display p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.result-display img {
  margin-top: 10px;
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 50px;
  font-size: 14px;
  color: #999;
}

.spotify-login {
  border: none;
  border-radius: 7px;
  padding: 8px 18px;
  background-color: #1db954;
}

.spotify-login:hover {
  background-color: #1ed760;
  transform: scale(1.05);
  cursor: pointer;
}
