.app {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.image-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 8px;
  margin-top: 10px;
}

.music-container a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

.message-container {
  margin-top: 10px;
  font-style: italic;
}

.get-music-button {
  border-radius: 8px;
  width: 42%;
  height: 4vh;
  /* margin-left: 20px; */
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #1ED760;
  border: none;
}

.get-music-button:hover {
  background-color: #2eb25c;
  cursor: pointer;
}

.spotify-login {
  border-radius: 6px;
  text-align: center;
  background-color: #1ED760;
  margin-top: 20px;
  border: none;
  height: 10%;
  width: 30%;
  cursor: pointer;
}

.mood-selector {
  width: 30%;
  height: 3.5vh
}

.mood-and-music-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-button {
  border-radius: 6px;
  text-align: center;
  background-color: #1ED760;
  margin-top: 20px;
  border: none;
  height: 10%;
  width: 30%;
  cursor: pointer;
}

.playlist-display {
  margin: 20px;
  text-align: center;
}

.playlist-cover {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.track button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.embedded-spotify {
  margin-top: 15px;
}