body {
    margin-top: 0;
}

.result-display {
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .message-container {
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .unsplash-image {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  